/* Success Snack Bar Styles */
.success-snackbar {
	--mdc-snackbar-container-color: var(--success-color) !important;
	--mat-mdc-snack-bar-button-color: var(--white-color) !important;
}

.success-snackbar .mdc-snackbar__surface {
	background-color: var(--success-color) !important;
	color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-action {
	color: var(--white-color) !important;
}

/* Error Snack Bar Styles */
.error-snackbar {
	--mdc-snackbar-container-color: var(--delete-color) !important;
	--mat-mdc-snack-bar-button-color: var(--white-color) !important;
}

.error-snackbar .mdc-snackbar__surface {
	background-color: var(--delete-color) !important;
	color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-action {
	color: var(--white-color) !important;
}
