/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "assets/app-variables";
@import "assets/app-buttons";
@import "assets/app-mat-snack-bar";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.center_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Places item in the middle of the box
.custom-flex-center {
  display: flex;
  align-items: center;
}

// Places item in the center of the box
.custom-flex-justify-center {
  display: flex;
  justify-content: center;
}

// Places item in the left of the box
.custom-flex-justify-left {
  display: flex;
  justify-content: flex-start;
}

// Places item in the right of the box
.custom-flex-justify-right {
  display: flex;
  justify-content: flex-end;
}

// Places items at the start of the item
.custom-flex-align-items-start {
  display: flex;
  align-items: flex-start;
}

// Places items at the start of the item
.custom-flex-align-items-center {
  display: flex;
  align-items: center;
}

// Add padding to strong HTML tag
strong {
  padding-left: 5px;
  padding-right: 5px;
}

//Primary color text
.primary-color-text {
  color: var(--primary-color);
}


