.primary-button,
.primary-button:hover,
.primary-button:active,
.primary-button:visited {
	color: white !important;
	background-color: var(--primary-color) !important;
}

.secondary-button,
.secondary-button:hover,
.secondary-button:active,
.secondary-button:visited {
	color: white !important;
	background-color: var(--secondary-color) !important;
}

/* Adds CSS for Success Button class */
.success-button,
.success-button:hover,
.success-button:active,
.success-button:visited {
	color: white !important;
	background-color: var(--success-color) !important;
}

/* Adds CSS for Delete Button class */
.delete-button,
.delete-button:hover,
.delete-button:active,
.success-button:visited {
	color: white !important;
	background-color: var(--delete-color) !important;
}

.edit-square-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	min-height: unset;
	vertical-align: middle;
	font-family: 'Material Symbols Outlined';
	font-size: 1rem;
	height: 1rem;
	width: 1rem;
	line-height: 1rem;
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}
