<h1 style="display: flex; justify-content: center; align-items: center;margin-top: 50px">
  Generic Auto Complete (Works with Objects and Strings)
</h1>
<div style="display: flex; justify-content: center; align-items: center; ">
  <form [formGroup]="genericFormGroup">
    <autocomplete
      [data]="cities"
      [inputFormGroup]="genericFormGroup"
      [required]="true"
      bindLabel="location"
      bindValue="id"
      label="City"
      placeHolder="Select City">
    </autocomplete>
  </form>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px">
  <p>Selected Option Is:</p>
  <h2>{{ genericFormGroup.get('autocomplete')?.value?.location ?? '' }}</h2>
</div>
<hr />

<hr />

<h2 style="display: flex; justify-content: center; align-items: center;margin-top: 50px">Auto Complete (Works with
  Strings)</h2>
<div style="display: flex; justify-content: center; align-items: center; ">
  <form [formGroup]="stringInputFormGroup">
    <autocomplete [data]="names" [inputFormGroup]="stringInputFormGroup" [required]="true" label="City"
                  placeHolder="Select City">
    </autocomplete>
  </form>
</div>
<div style="display: flex; justify-content: center; align-items: center; margin-top: 20px">
  <p>Selected Option Is:</p>
  <h2>{{ stringInputFormGroup.get('autocomplete')?.value ?? '' }}</h2>
</div>
