<div class="app-flex-justify-center">
	<button
		(click)="setLoading()"
		(keydown)="setLoading()"
		[loading]="updateState().isLoading"
		class="m-5"
		savePrimaryButton
		mat-raised-button>
		Save Data
	</button>
</div>
<p style="margin: 1rem">
	@if (updateState().isSuccess && !updateState().isLoading) {
		<alert [dismissible]="true" type="success"><strong>Success!</strong> Your data has been saved.</alert>
	}

	@if (updateState().isError && !updateState().isLoading) {
		<alert [dismissible]="true" type="danger"><strong>Failure!</strong> Your data has not been saved.</alert>
	}
</p>
