<div class="custom-flex-justify-center">
	<save-primary-button
		(click)="setLoading()"
		(keydown)="setLoading()"
		[loading]="updateState().isLoading"
		class="m-3"
		label="Save Data"></save-primary-button>
</div>
<p style="margin: 1rem">
	<alert *ngIf="updateState().isSuccess && !updateState().isLoading" [dismissible]="true" type="success">
		<strong>Success!</strong> Your data has been saved.
	</alert>

	<alert *ngIf="updateState().isError && !updateState().isLoading" [dismissible]="true" type="danger">
		<strong>Failure!</strong> Your data has not been saved.
	</alert>
</p>
