<div class="m-5">
	<button editBsButton mat-button class="m-3" data-cy="edit-bs-button">Edit Bootstrap Button</button>
	<hr />

	<button [loading]="loading()" (click)="setLoading()" primaryButton mat-raised-button class="m-3" data-cy="primary-button">
		Primary Button
	</button>
	<hr />

	<button [loading]="loading()" (click)="setLoading()" savePrimaryButton mat-raised-button class="m-3" data-cy="save-primary-button">
		Save Primary Button
	</button>
	<hr />

	<button viewPrimaryButton mat-raised-button class="m-3">View Primary</button>
	<hr />

	<button editButton mat-raised-button class="m-3" data-cy="edit-button">Edit Button</button>
	<hr />

	<button color="primary" viewButton mat-button class="m-3" data-cy="view-button">View Button</button>
	<hr />

	<button editSvgIconButton mat-raised-button class="m-3" data-cy="edit-svg-icon-button">Edit SVG Icon</button>

	<hr />

	<a bsLinkButton mat-button class="m-3" data-cy="bs-link-button" href="/path">Bootstrap Link Button</a>

	<hr />
	<button [loading]="loading()" (click)="setLoading()" successButton mat-raised-button class="m-3" data-cy="success-button">
		Success Button
	</button>
	<hr />
	<button [loading]="loading()" (click)="setLoading()" deleteButton mat-raised-button class="m-3" data-cy="delete-button">
		Delete Button
	</button>
	<hr />

	<button closeButton mat-raised-button>Close Button</button>
	<button manageButton mat-raised-button class="m-3" data-cy="manage-button">Manage</button>

	<hr />
	<button ariaLabel="Search" searchButton mat-raised-button class="m-3" data-cy="search-button">Search</button>
	<hr />

	<button pdfExportButton mat-raised-button class="m-3" data-cy="pdf-export-button">PDF</button>
	<hr />
	<button excelExportButton mat-raised-button class="m-3" data-cy="excel-export-button">Excel</button>

	<hr />
</div>

<hr />
