<h1 style="display: flex; justify-content: center; align-items: center; margin-top: 50px">Ngx Smart Utilities Demo</h1>
<hr />

<ul>
	<li><a routerLink="/autocomplete-demo">Auto Complete Demo</a></li>
	<li><a routerLink="/alert-demo">Alert Demo</a></li>
	<li><a routerLink="/confirm-dialog-demo">Confirm Dialog Demo</a></li>
	<li><a routerLink="/edit-svg-icon-demo">Edit Svg Icon Demo</a></li>
	<li><a routerLink="/buttons-demo">Buttons Demo</a></li>
	<li><a routerLink="/directives-demo">Directives Demo</a></li>
	<li><a routerLink="/snack-bar-demo">Snack Bar Demo</a></li>
</ul>
<hr />
<router-outlet></router-outlet>
