@import "app-variables.scss";

.success-snackbar {
  color: white;
  background-color: $success-color;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  max-width: max-content !important;
  color: white;
  background-color: $delete-color;
  border-color: #f5c6cb;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.light-success-snackbar {
  color: #155724;
  background-color: #d4edda;
  .mat-simple-snackbar-action {
    color: darkgreen;
  }
}

.light-error-snackbar {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  .mat-simple-snackbar-action {
    color: darkred;
  }
}

