.logo-container {
	display: flex;
	align-items: center;
}

.logo-icon {
	width: 40px;
	//   border-radius: 5px;
	//   border: 2px solid #3282b8;
	margin-top: 4px;
}

.logo-text {
	margin-left: 7px;
	margin-top: 14px;
}

.ng-doc-header-controls {
	display: flex;

	a[ng-doc-button-icon],
	button[ng-doc-button-icon],
	ng-doc-theme-toggle {
		margin-left: calc(var(--ng-doc-base-gutter) * 2);
	}
}
